@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1c1235;
  background: linear-gradient(to right, #1c1235 10%, #000 90%);
  color: rgb(241, 241, 241);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #7e22ced1;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7e22ced1;
}

.title-font {
  font-family: 'Rubik Moonrocks', cursive;
  font-size: 64px;
  text-align: center;
  color: rgb(116, 48, 48);
  margin-bottom: 30px;

  text-shadow: 0 0 5px rgb(243, 166, 166), 0 0 10px #fff, 0 0 15px #fff,
    0 0 20px chocolate, 0 0 30px chocolate, 0 0 40px chocolate,
    0 0 55px chocolate, 0 0 75px chocolate;
}

/* react-select-classes */
.css-qc6sy-singleValue {
  color: #fff !important;
}

#react-select-2-listbox,
#react-select-3-listbox {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.css-jcomya-option {
  background-color: #7e22ced1 !important;
  color: #fff !important;
  cursor: pointer !important;
}

.css-jcomya-option:active {
  background-color: #7e22ced1 !important;
}

.css-10os46b-option {
  color: white !important;
}

.css-tif5kg-option {
  color: #27272a !important;
  opacity: 0.8 !important;
  cursor: pointer !important;
}

.css-1rhbuit-multiValue {
  background-color: #7e22ced1 !important;
}

.css-1rhbuit-multiValue .css-12jo7m5 {
  color: #fff;
}

/* hide arrows input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
